
.iconButton{
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 500;

}

.iconButton.iconButton.iconButtonHover{
    transition: .1s opacity;
    opacity: .6;
}

.iconButton.iconButtonHover:hover{
    opacity: 1;
}

.iconButton:active{
    transform: scale(.9);
}

.iconButton > svg{
    width: var(--iconWidth);
    color: currentColor
}