
.iconButton{
    background: none;
    border: none;
    opacity: .6;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 500;

    transition: .1s opacity;
}

.iconButton:hover{
    opacity: 1;
}

.iconButton:active{
    transform: scale(.9);
}

.iconButton > svg{
    width: 1.5rem;
    color: currentColor
}