
.wrapper{
    position: sticky;
    z-index: 9600  ;
    top: 0;
}

.header{
    background: var(--elevated);
    box-shadow: 0 0 2rem var(--elevated);
    border-bottom: .15rem solid var(--elevated-component);  
}

.nav__sidebarBtn svg{
    width: 2.5rem;
}

.nav__brand{
    display: flex;
    align-items: center;
    gap: .5rem;
    opacity: .7;

    transition: .1s opacity;
}

.nav__brand:hover{
    opacity: 1;
}

.nav__title{
    font-size: 2rem;
    text-decoration: none;
    color: currentColor;
    font-weight: 700;
}

.nav__lastName{
    color: var(--logo-red);
}

.nav__img{
    border-radius: 100%;
    width: 3rem;
}

.nav{
    padding: .5rem 2rem;
    width: min(100rem, 100%);
    margin: 0 auto;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto 1fr auto auto;
}

.nav__user{
    display: flex;
    align-items: center;
    gap: .5rem;
    opacity: .7
}

.nav__pfp{
    width: 2.5rem;
    border-radius: .25rem;
}

@media(max-width:31rem){

    .nav__sidebarBtn svg{
        width: 2rem;
    }

    .nav__title{
        font-size: 1.5rem;
    }

    .nav__img,
    .nav__username{
        display: none;
    }
}
