.viewpost{
    width: min(86rem, 100%);
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

    animation: fadeTop .35s ease;
}

@keyframes fadeTop{
    from{
        transform: translateY(-50%);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.viewpost__header{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem
}

.viewpost__headerTitle{
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 700;
}

.viewpost__comments{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem
}